/* main stuff */
* {
	box-sizing: border-box;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
	margin: 0px;
}

aside {
	width: 20%;
	float: left;
	padding: 10px;
}

section {
	width: 40%;
	float: left;
	padding: 10px;
}

article {
	width: 40%;
	float: left;
	padding: 10px;
}

footer {
	display: block;
	clear: both;
	background-color: lightgrey;
	text-align: center;
	padding: 15px;
}

h1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 3em;
}

h2 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 2.5em;
}

hr { 
	width:100%; 
	height:1px; 
	background: #fff 
}

p {
	font-size: 25px;
	font-family: 'Courier New', Courier, monospace;
}

input {
	width: 250px;
  	height: 50px;
	font-size: 0.7em;
}

select {
	width: 250px;
  	height: 50px;
}

/* Container holding the image and the text */
.container {
	position: relative;
	text-align: center;
	color: white;
	z-index: -1;
  }
  
.top-left {
	position: absolute;
	top: 390px;
	left: 60px;
	color: black;
	padding: 10px;
	font-size: 2em;
	width: 250px;
}
  
.top-right {
	position: absolute;
	top: 550px;
	right: 30px;
	border: 1px solid black;
	background-color: whitesmoke;
	color: black;
	padding: 15px;
	width: 450px;
}
  
/* navigation bar settings */
.navbar .brand {
	display: block;
	float: left;
	padding: 20px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 1.8em;
}

.navbar {
	background-color: darkgrey;
	height: 75px;
	top: 0px;
	position: sticky;
}

.navbar ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.navbar a {
	color: white;
	text-decoration: none;
	padding: 26px;
	display: block;
	text-align: center;
	font-size: 1.2em;
}

.navbar a:hover {
	background-color: black;
}

.navbar li {
	float: right;
}

/* gallery settings */
div2 {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;  
}

.gallery {
	display: inline-block;
	margin: 5px;
	width: 200px;
}

.gallery .shop {
	color: black;
	padding: 30px;
	text-align: center;	
	font-size: 12px;
}

.gallery .description {
	padding: 10px;
	text-align: center;	
}

.gallery:hover {
	border: 1px solid black;
}

.gallery img {
	width: 100%;
	height: auto;
}

.gallery .sale {
	color: black;
	text-align: center;	
	font-size: 15px;
}

.gallery .price {
	color: black;
	padding: 5px;
	text-align: center;	
	font-size: 15px;
}


/* adapt to phone size */
@media screen and (max-width:600px) {
	aside, section, article {
		width: 100%;
	}
}

/* form */
textarea {
	width: 500px;
	height: 150px;
}

#div_main {
	font-family: Sans-serif;
	margin: auto;
	margin-top: 30px;
	width: 500px;
}

#div_left {
	width: 150px;
	display: inline-block;
	float: left;
}

#div_left p {
	margin-bottom: 19px;
}

#div_right {
	width: 350px;
	display: inline-block;
	float: right;
}
